.number {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3, p {
        margin: 0;
        color: #FAFAFA;
    }

    h3 {
        font-size: 4rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        opacity: 0.9;
    }

    p {
        opacity: 0.5;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.9rem;
    }

    @media screen and (max-width: 1024px) {
        h3 {
            font-size: 3rem;
        }
    }
}