.button {
    width: 220px;
    height: 70px;
    background-color: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: #222222;

    p {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 17px;
        font-weight: 600;
    }

    &:hover {
        background-color: #50223C;
        color: #FFFFFF;
    }
}