.swiper-button-next,
.swiper-button-prev {
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #50223C;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    /* Transição suave para a cor */
}

/* Cor dos botões de navegação quando o usuário passa o mouse (hover) */
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #50223cb4;
    /* Cor de fundo no hover */
}

/* Cor dos botões de navegação quando estão desabilitados */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    background-color: #FFFFFF;
    /* Cor de fundo para botões desabilitados */
    color: #000000;
    /* Cor do ícone quando o botão está desabilitado */
    cursor: initial;
}

div.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    padding-bottom: 20px;
}

div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    justify-content: center;
    gap: 7px;
    bottom: 6px;
}

span.swiper-pagination-bullet {
    background-color: #FAFAFA;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    position: relative;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: 1px solid #FAFAFA;
    border-radius: 100%;
    left: -6px;
    top: -6px;

}